<div class="container-fluid">

<div class="row">
	<div class="col-md-4">
		<div class="card card-block">
			<div class="card-title"><h5>Event Form</h5></div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item"><strong>Total Requests: </strong>&nbsp;<%= Event.all.count %></li>
					<li class="list-group-item"><strong>Requests This Month: </strong>&nbsp;<%= Event.all.where("created_at > ?", Date.current.beginning_of_month.to_time).count %></li>
					<li class="list-group-item"><strong>Requests This Week: </strong>&nbsp;<%= Event.all.where("created_at > ?", (Date.current.beginning_of_week - 1.day).to_time).count %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-block">
			<div class="card-title"><h5>Another Form</h5></div>
			<div class="card-body">

			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-block">
			<div class="card-title"><h5>Some Other Form</h5></div>
			<div class="card-body">

			</div>
		</div>
	</div>
</div>

</div>