<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr" xml:lang="en"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr" xml:lang="en"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr" xml:lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr" xml:lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html  lang="en" dir="ltr" xml:lang="en" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema# schema: http://schema.org/"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
<link rel="shortcut icon" href="https://acadtech.gwu.edu/sites/all/themes/gwu_marketing/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="description" content="*/ Academic Technologies provides technology equipment loans for university courses and equipment rentals for events in AT-supported locations on the Foggy Bottom and Virginia Science and Technology campuses. Review the equipment loan procedures for courses and events on the Mount Vernon Campus." />
<meta name="keywords" content="George washington university, gwu, gw, gw university, george washington, dc universities, dc colleges, education, higher education" />
<meta name="robots" content="noarchive, nofollow, noimageindex, noindex, noodp, nosnippet, notranslate, noydir" />
<meta name="generator" content="Drupal 7 (http://drupal.org)" />
<link rel="image_src" href="http://www.gwu.edu/sites/www.gwu.edu/files/image/gw-primary_90x90.jpg" />
<link rel="canonical" href="https://acadtech.gwu.edu/equipment" />
<link rel="shortlink" href="https://acadtech.gwu.edu/node/43" />
  <title>Equipment Loans and Rentals | Academic Technologies | The George Washington University</title>

      <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->

  <link type="text/css" rel="stylesheet" href="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/css/css_FwbwL4H3JVVDRxdh31ylF0_mO_B_yMbYXGX-x3v1tSY.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/css/css_75zccL4HL4t65AXXmp5wB29nZzPHlHiLql45PpU20tU.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/css/css_O2U7noRhRb0Z-eiGkIMMC9PMI3PDwd07FSIRWZncT8o.css" media="all" />
<link type="text/css" rel="stylesheet" href="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/css/css_lQdUcMa573sXXNoArmKJYRsM2yMnh4nTm8JHvN6E738.css" media="all" />
  <script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_gPM6NXOQjN2XM2JWQGfy07nKmcdDFrL289YA7h80ySs.js"></script>
<script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_RLCIk-58t-cnUwUI_O-hIfNNUZV4mfP_EvBB-D4a5xA.js"></script>
<script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_XuFgHR1X67cDofve4crM47xw750TjafMBoVq4KMQLjo.js"></script>
<script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_YS577yJgKUcF2Ohgs2GmhcXnlg873XG66wVA8G9YUWI.js"></script>
<script src="https://acadtech.gwu.edu/sites/all/modules/contrib/lightbox2/js/lightbox.js?1494090029"></script>
<script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_NPnwNOYobTFdXUDBFMIr-5dVZYhkdiTeV2E_C2pOZwA.js"></script>
<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-737548-3", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");ga('create', 'UA-40748845-1',{'name':'newTracker'});ga('newTracker.send', 'pageview');</script>
<script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_7Kp_hp-mei8jrGyBlIIqWTbYebYkeHJVPZcjLQi3wZM.js"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"gwu_marketing","theme_token":"ZM_I5qRDZO358XlI5lbJTT1qbviLf_UW2guG3nYcz4A","js":{"sites\/all\/modules\/contrib\/flexslider\/assets\/js\/flexslider.load.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.core.min.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.widget.min.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.accordion.min.js":1,"sites\/all\/modules\/contrib\/nice_menus\/js\/jquery.bgiframe.js":1,"sites\/all\/modules\/contrib\/nice_menus\/js\/jquery.hoverIntent.js":1,"sites\/all\/modules\/contrib\/nice_menus\/js\/superfish.js":1,"sites\/all\/modules\/contrib\/nice_menus\/js\/nice_menus.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/ui\/ui\/minified\/jquery.ui.tabs.min.js":1,"sites\/all\/modules\/custom\/gwustyle\/imagestyles.js":1,"sites\/all\/modules\/contrib\/fancybox\/fancybox.js":1,"sites\/all\/libraries\/fancybox\/source\/jquery.fancybox.pack.js":1,"sites\/all\/libraries\/fancybox\/lib\/jquery.mousewheel-3.0.6.pack.js":1,"sites\/all\/libraries\/fancybox\/source\/helpers\/jquery.fancybox-media.js":1,"sites\/all\/modules\/contrib\/lightbox2\/js\/lightbox.js":1,"sites\/all\/libraries\/flexslider\/jquery.flexslider-min.js":1,"sites\/all\/modules\/contrib\/quicktabs\/js\/qt_campaign_accordion.js":1,"sites\/all\/modules\/contrib\/responsive_menus\/styles\/meanMenu\/jquery.meanmenu.min.js":1,"sites\/all\/modules\/contrib\/responsive_menus\/styles\/meanMenu\/responsive_menus_mean_menu.min.js":1,"sites\/all\/modules\/contrib\/google_analytics\/googleanalytics.js":1,"0":1,"sites\/all\/themes\/gwu_marketing\/js\/script.js":1,"sites\/all\/themes\/gwu_capital\/js\/jquery.sticky.js":1,"sites\/all\/themes\/gwu_marketing\/js\/gwu.jquery.stickyNavbar.min.js":1,"sites\/all\/themes\/gwu_marketing\/js\/jquery-migrate-1.4.0.min.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"misc\/ui\/jquery.ui.core.css":1,"misc\/ui\/jquery.ui.theme.css":1,"misc\/ui\/jquery.ui.accordion.css":1,"misc\/ui\/jquery.ui.tabs.css":1,"sites\/all\/modules\/contrib\/ldap\/ldap_user\/ldap_user.css":1,"modules\/aggregator\/aggregator.css":1,"sites\/all\/modules\/contrib\/date\/date_api\/date.css":1,"sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"sites\/all\/modules\/contrib\/date\/date_repeat_field\/date_repeat_field.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/contrib\/google_appliance\/theme\/google_appliance.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/contrib\/video_filter\/video_filter.css":1,"sites\/all\/modules\/contrib\/views\/css\/views.css":1,"sites\/all\/modules\/contrib\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/custom\/gwustyle\/css\/admin.css":1,"sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"sites\/all\/libraries\/fancybox\/source\/jquery.fancybox.css":1,"sites\/all\/modules\/contrib\/ldap\/ldap_servers\/ldap_servers.admin.css":1,"sites\/all\/modules\/contrib\/lightbox2\/css\/lightbox.css":1,"sites\/all\/modules\/contrib\/panels\/css\/panels.css":1,"sites\/all\/themes\/gwu_capital\/panels-layouts\/zen-no-wrapper-gw-cap\/zen_no_wrapper_gw_cap.css":1,"sites\/all\/modules\/contrib\/flexslider\/assets\/css\/flexslider_img.css":1,"sites\/all\/libraries\/flexslider\/flexslider.css":1,"sites\/all\/modules\/contrib\/nice_menus\/css\/nice_menus.css":1,"sites\/all\/themes\/gwu_marketing\/css\/gwu-proto-nice-menu.css":1,"sites\/all\/modules\/contrib\/responsive_menus\/styles\/sites\/all\/themes\/gwu_marketing\/css\/meanmenu.css":1,"sites\/all\/themes\/gwu_capital\/system.menus.css":1,"sites\/all\/themes\/gwu_capital\/system.messages.css":1,"sites\/all\/themes\/gwu_capital\/system.theme.css":1,"sites\/all\/themes\/gwu_marketing\/css\/styles.css":1,"sites\/all\/themes\/gwu_marketing\/css\/bootstrap.css":1,"sites\/all\/themes\/gwu_marketing\/css\/buttons.css":1,"sites\/all\/themes\/gwu_marketing\/css\/fat-footer.css":1,"sites\/all\/themes\/gwu_marketing\/css\/meanmenu.css":1}},"fancybox":{"options":{"margin":120},"helpers":{"title":{"type":"inside"},"overlay":{"fixed":0},"thumbs":{"width":"","height":"","position":"top"},"media":[]},"selectors":["a.video\na.slider-video\n.slider-video a\n.heroHeroBtnVid a\n.testi-video\n.video-readmore a\na.video-force-small"]},"lightbox2":{"rtl":0,"file_path":"\/(\\w\\w\/)public:\/","default_image":"\/sites\/all\/modules\/contrib\/lightbox2\/images\/brokenimage.jpg","border_size":10,"font_color":"000","box_color":"fff","top_position":"","overlay_opacity":"0.8","overlay_color":"000","disable_close_click":true,"resize_sequence":0,"resize_speed":400,"fade_in_speed":400,"slide_down_speed":600,"use_alt_layout":false,"disable_resize":false,"disable_zoom":false,"force_show_nav":false,"show_caption":true,"loop_items":false,"node_link_text":"View Image Details","node_link_target":false,"image_count":"Image !current of !total","video_count":"Video !current of !total","page_count":"Page !current of !total","lite_press_x_close":"press \u003Ca href=\u0022#\u0022 onclick=\u0022hideLightbox(); return FALSE;\u0022\u003E\u003Ckbd\u003Ex\u003C\/kbd\u003E\u003C\/a\u003E to close","download_link_text":"","enable_login":false,"enable_contact":false,"keys_close":"c x 27","keys_previous":"p 37","keys_next":"n 39","keys_zoom":"z","keys_play_pause":"32","display_image_size":"original","image_node_sizes":"()","trigger_lightbox_classes":"","trigger_lightbox_group_classes":"","trigger_slideshow_classes":"","trigger_lightframe_classes":"","trigger_lightframe_group_classes":"","custom_class_handler":0,"custom_trigger_classes":"","disable_for_gallery_lists":true,"disable_for_acidfree_gallery_lists":true,"enable_acidfree_videos":true,"slideshow_interval":5000,"slideshow_automatic_start":true,"slideshow_automatic_exit":true,"show_play_pause":true,"pause_on_next_click":false,"pause_on_previous_click":true,"loop_slides":false,"iframe_width":600,"iframe_height":400,"iframe_border":1,"enable_video":false},"video_filter":{"url":{"ckeditor":"\/video_filter\/dashboard\/ckeditor"},"instructions_url":"\/video_filter\/instructions","modulepath":"sites\/all\/modules\/contrib\/video_filter"},"better_exposed_filters":{"views":{"local_footer":{"displays":{"gwtoday_footer_panel_pane":{"filters":[]}}},"promotion_slider_12_col":{"displays":{"panel_pane_1":{"filters":[]}}},"main_header":{"displays":{"main_header_panel_pane":{"filters":[]}}}}},"flexslider":{"optionsets":{"gw_editorial_promo_slider_12_col":{"namespace":"flex-","selector":".slides \u003E li","easing":"swing","direction":"horizontal","reverse":false,"smoothHeight":false,"startAt":0,"animationSpeed":600,"initDelay":0,"useCSS":true,"touch":true,"video":false,"keyboard":true,"multipleKeyboard":false,"mousewheel":0,"controlsContainer":".flex-control-nav-container","sync":"","asNavFor":"","itemWidth":0,"itemMargin":0,"minItems":0,"maxItems":0,"move":0,"animation":"fade","slideshow":true,"slideshowSpeed":"7000","directionNav":true,"controlNav":true,"prevText":"","nextText":"","pausePlay":false,"pauseText":"Pause","playText":"Play","randomize":false,"thumbCaptions":false,"thumbCaptionsBoth":false,"animationLoop":true,"pauseOnAction":true,"pauseOnHover":false,"manualControls":""}},"instances":{"flexslider-1":"gw_editorial_promo_slider_12_col"}},"quicktabs":{"qt_equipment_guide_quicktabs":{"name":"equipment_guide_quicktabs","active_tab":999999,"options":{"autoHeight":1,"collapsible":1},"history":0}},"nice_menus_options":{"delay":800,"speed":"slow"},"responsive_menus":[{"selectors":"#navigation","trigger_txt":"\u003Cspan \/\u003E\u003Cspan \/\u003E\u003Cspan \/\u003E","close_txt":"X","close_size":"18px","position":"right","media_size":"864","show_children":1,"expand_children":1,"expand_txt":"+","contract_txt":"-","remove_attrs":1,"responsive_menus_style":"mean_menu"}],"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"},"urlIsAjaxTrusted":{"\/equipment":true}});</script>
      <!--[if lt IE 9]>
    <script src="/sites/all/themes/zen/js/html5-respond.js"></script>
    <![endif]-->
    <!--[if !IE 7]><style type="text/css">.ubberwrapper {display:table;height:100%}</style><![endif]-->
</head>
<body class="gw-today html not-front not-logged-in no-sidebars page-node page-node- page-node-43 node-type-general-content section-equipment page-panels" >
      <p id="skip-link">
      <a href="#navigation" class="element-invisible element-focusable">Jump to navigation</a>
    </p>
      

<header class="header" id="header" role="banner">
    <div class="view view-main-header view-id-main_header view-display-id-main_header_panel_pane view-dom-id-3a95426f2136ac406f5d5ce719fa2a4c">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    
<div id="header-wrapper">
  <div class="gwlogo">
    <a href="https://acadtech.gwu.edu/frontpage" title="https://acadtech.gwu.edu/frontpage" target="_self"><div class="field field-name-field-logo field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img typeof="foaf:Image" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/AT%20Logo_0.jpg" width="446" height="85" alt="Academic Technologies logo" title="Academic Technologies logo" /></div></div></div></a>
  </div>
    <div class="call-to-action">
    <a id="header-call-to-action" class="cap-button" href="https://acadtech.gwu.edu/assistance" title="Support" target="_self">Support</a>  </div>
  </div>

  </div>
    </div>
  
  
  
  
  
  
</div></header>
  <div class="region region-navigation clearfix">
    
<div id="nav-bar">
  <div id="nav-bar-wrapper">

    <div id="stickyLogo">
        <a href="https://acadtech.gwu.edu/frontpage" title="https://acadtech.gwu.edu/frontpage" target="_self"><img id="monogramLogo" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image//gw_mono.png" alt="Academic Technologies logo" title="Academic Technologies logo"></a>     </div>

          <div id="smallBtn">
        <a id="nav-call-to-action" class="cap-button" href="https://acadtech.gwu.edu/assistance" title="Support" target="_self">Support</a>
      </div>
    
    <div id="stickySearch">
      <div id="stickySearchButton" role="button" aria-controls="searchbar" aria-pressed="false">
        <img id="stickySearchIconImg" src="https://acadtech.gwu.edu/sites/all/themes/gwu_marketing/images/icons/search.png" alt="Search" title="Search">
      </div>
      <div id="searchbar" name="searchbar" aria-hidden="true">
        <div id="block-google-appliance-ga-block-search-form" class="block block-google-appliance first odd count-1 count-1">
        <form action="/equipment" method="post" id="google-appliance-block-form" accept-charset="UTF-8"><div>
  <div class="form-item form-type-textfield form-item-search-keys">
  <label class="element-invisible" for="edit-search-keys">Enter the terms you wish to search for. </label>
 <input title="Search GW" type="text" id="edit-search-keys" name="search_keys" value="" size="15" maxlength="128" class="form-text" />
</div>
<div title="Submit Search" class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-bnikCUaqOjMHg7cFSIcbEepB52-xpWqTJI-YVp25Tpc" />
<input type="hidden" name="form_id" value="google_appliance_block_form" />
  
</div></form></div>
      </div>
      </div>

    <div id="navigation" role="navigation">
      <nav id="main-nav">
        <ul class="nice-menu nice-menu-down nice-menu-menu-division-menu" id="nice-menu-2"><li class="menu__item menu-902 menuparent  menu-path-node-13 first odd "><a href="/about" class="menu__link">About</a><ul><li class="menu__item menu-937  menu-path-node-14 first odd "><a href="/leadership" class="menu__link">Leadership</a></li>
<li class="menu__item menu-911 menu-path-node-15  even "><a href="/initiatives" class="menu__link">Initiatives</a></li>
<li class="menu__item menu-912 menu-path-node-16  odd last"><a href="/press-room" class="menu__link">Press Room</a></li>
</ul></li>
<li class="menu__item menu-903 menuparent  menu-path-node-17  even "><a href="/assistance" class="menu__link">Assistance</a><ul><li class="menu__item menu-947 menu-path-node-180 first odd "><a href="/solutions-center" class="menu__link">Solutions Center</a></li>
<li class="menu__item menu-1156 menu-path-node-370  even "><a href="/training" class="menu__link">Classroom Technology Training</a></li>
<li class="menu__item menu-915 menu-path-node-25  odd "><a href="/accessibility" class="menu__link">Accessibility</a></li>
<li class="menu__item menu-916 menu-path-node-26  even last"><a href="/service-catalog" class="menu__link">Service Catalog</a></li>
</ul></li>
<li class="menu__item menu-904 menuparent  menu-path-node-18  odd "><a href="/classrooms-labs" class="menu__link">Classrooms &amp; Labs</a><ul><li class="menu__item menu-1152 menu-path-node-309 first odd "><a href="/classroom-search" class="menu__link">Classroom Search</a></li>
<li class="menu__item menu-908 menu-path-node-27  even "><a href="/software" class="menu__link">Classroom and Lab Software</a></li>
<li class="menu__item menu-909  menu-path-node-28  odd "><a href="/vcl" class="menu__link">Virtual Computer Lab</a></li>
<li class="menu__item menu-917 menu-path-node-34  even "><a href="/guest-account" class="menu__link">Classroom Computer Guest Accounts</a></li>
<li class="menu__item menu-935  menu-path-node-88  odd last"><a href="/learning-space-design" class="menu__link">Learning Space Design</a></li>
</ul></li>
<li class="menu__item menu-905 menuparent  menu-path-node-19 active-trail  even "><a href="/classroom-technology" class="menu__link">Classroom Technology</a><ul><li class="menu__item menu-921 menu-path-node-39 first odd "><a href="/conferencing" class="menu__link">Web &amp; Video Conferencing</a></li>
<li class="menu__item menu-922 menu-path-node-40  even "><a href="/wireless-presentation" class="menu__link">Wireless Presentation</a></li>
<li class="menu__item menu-924 menu-path-node-42  odd "><a href="/lecture-capture" class="menu__link">Lecture Capture</a></li>
<li class="menu__item menu-925 menu-path-node-43 active-trail  even last"><a href="/equipment" class="menu__link active">Equipment Loans and Rentals</a></li>
</ul></li>
<li class="menu__item menu-900 menu-path-node-11  odd last"><a href="/blackboard" class="menu__link">Blackboard</a></li>
</ul>
      </nav>
    </div>
  </div>
</div>
  </div>
<div id="page" class="clearfix">
    <div id="main" class="clearfix">
        <div id="content" class="column" role="main">
                        <div class="gw-alert">
                <div>


</div>
            </div>
                        <div id="breadcrumbWrapper">
                <div id="breadcrumb"><a href="/">Home</a> <img width="10" height="10" alt="arrow" src="https://acadtech.gwu.edu/sites/all/themes/gwu_marketing/images/breadcrumb_arrow.png"></img> <a href="/classroom-technology">Classroom Technology</a> <img width="10" height="10" alt="arrow" src="https://acadtech.gwu.edu/sites/all/themes/gwu_marketing/images/breadcrumb_arrow.png"></img> <span>Equipment Loans and Rentals</span></div>            </div>
                        <a id="main-content"></a>
                                    <div id="block-system-main" class="block block-system first last odd count-1 count-1">
        <div class="mainWrapper">

<div class="panel-pane pane-node" >
       <header class="major">


    <h1  class="pane-title">
            Equipment Loans and Rentals    </h1>

    </header>
      

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <div style="display:none;">.</div>    </div>
  </div>
  </div>
  
  </div>


<div class="panel-pane pane-views-panes pane-promotion-slider-12-col-panel-pane-1" >
        <div class="view view-promotion-slider-12-col view-id-promotion_slider_12_col view-display-id-panel_pane_1 view-dom-id-614238453a761f068e2ef9976e5b9364">
        
  
  
      <div class="view-content">
      <div class="promo-slider-12-col"><div  id="flexslider-1" class="flexslider">
  <ul class="slides"><li class=""><div aria-labelledby="Equipment Loans and Rentals (Foggy Bottom Campus)-0" class="promo-slider-12-col-item"><a class="aria-label" href="#" id="Equipment Loans and Rentals (Foggy Bottom Campus)-0">Equipment Loans and Rentals (Foggy Bottom Campus)</a><div class="promo-slider-12-col-img"><img typeof="foaf:Image" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/styles/promo_slider_12_col/public/image/InstructionalTechnology/IMG_8976p2_adj_1080x480.jpg?itok=_5gw86wy" width="1080" height="480" alt="Equipment Loans" title="Equipment Loans" /></div><div class="promo-slider-12-col-info"><div class="promo-slider-12-col-inner"><a class="promo-slider-12-col-link" target="_blank" href="https://webcheckout.acadtech.gwu.edu/webcheckout/pir/login"><h4>WebCheckout</h4></a><p>GW instructors teaching in AT-supported locations on the Foggy Bottom campus can reserve equipment online through our WebCheckout system.</p>
</div></div></div></li>
</ul></div>
</div>
    </div>
  
  
  
  
  
  
</div>  
  </div>


<div class="panel-pane pane-node-content" >
        
<small>
<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <style type="text/css">a.anchor{
        display: block; 
        position: relative; 
        top: -50px; 
          visibility: hidden;}
</style>
<p>Academic Technologies provides technology equipment loans for university courses and equipment rentals for events in AT-supported locations on the <a href="#foggy">Foggy Bottom</a> and <a href="#vstc">Virginia Science and Technology</a> campuses. Review the equipment loan procedures for courses and events on the <a href="#mount-vernon">Mount Vernon Campus</a>.</p>

<h2><a class="anchor" name="foggy"></a>Foggy Bottom Campus Equipment</h2>

<p>Instructors may borrow equipment for a GW course at no cost. For non-GW course events, event coordinators should submit a rental request 48 hours in advance. Please review the list of equipment provided in your <a href="/classroom-search">AT-supported classroom or lab</a>. If your classroom is not equipped with the technology you need, review the equipment guide for your options available for check out.</p>

<h3>Borrowing equipment for a GW course</h3>

<p>For GW courses in AT-supported locations on the Foggy Bottom Campus, instructors should:</p>

<ol>
	<li>
	<p>Make a reservation with&nbsp;<a href="https://webcheckout.acadtech.gwu.edu/webcheckout/pir/login" target="_blank">WebCheckout</a>.</p>
	</li>
	<li>
	<p>Pick up your reserved equipment from our <a href="/classroom-support-center">Classroom Support Center</a>.</p>
	</li>
</ol>

<h3>Renting equipment for an event</h3>

<p>For non-GW course events on the Foggy Bottom Campus, event coordinators should:</p>

<ol>
	<li>
	<p>Obtain a classroom reservation confirmation number from the&nbsp;<a href="http://registrar.gwu.edu/reserving-renting-classrooms" target="_blank">Office of the Registrar</a>.</p>
	</li>
	<li>
	<p>Submit an&nbsp;<a href="http://go.gwu.edu/equipmentrequest" target="_blank">Equipment Rental Form (Non-GW Course)</a>.</p>
	</li>
	<li>
	<p>Contact Academic Technologies&rsquo; Solutions Center for information regarding your equipment pick-up.</p>
	</li>
</ol>

<p>Prices and other applicable fees are listed on the form. Please note that we need at least 24 hours for changes made to equipment reservations.</p>
<div class="tech-form">
<% if Rails.env.development? %>
<iframe src="http://127.0.0.1:3000" height="600"></iframe>
<% else %>
<iframe src="http://54.242.162.206/" height="600"></iframe>
<% end %>
</div>
<h2>Instructional Technology Equipment Loans</h2>

<p>In addition, the <a href="https://itl.gwu.edu/equipment-loans" target="_blank">Instructional Technology Lab (ITL)</a> loans equipment to GW faculty and teaching assistants in support of course-related activities on a short-term basis. Equipment available includes:</p>

<ul>
	<li>
	<p>Digital audio recorder</p>
	</li>
	<li>
	<p>Digital still camera</p>
	</li>
	<li>
	<p>Digital video camera</p>
	</li>
	<li>
	<p>TurningPoint Audience Response System clickers</p>
	</li>
</ul>

<p>You may retain equipment for up to three business days. Equipment will not be loaned to students for course-related projects.</p>

<p style="text-align: center;"><span class="ghost-button reg-button darkblue"><span class="reg-button darkblue"><a href="https://itl.gwu.edu/equipment-loans" target="_blank">LEARN MORE ABOUT ITL EQUIPMENT LOANS</a></span></span></p>

<h2><a class="anchor" name="mount-vernon"></a>Mount Vernon Campus Equipment</h2>

<p>Audiovisual and classroom equipment is available for instructors to check out through the MVC Faculty and Instructional Support Center located in the Academic Building, Room 214, which can be reached by phone at 202-242-6670.</p>

<h2><a class="anchor" name="vstc"></a>Virginia Science and Technology Campus Equipment</h2>

<p>You can reserve classrooms on VSTC through <a href="http://academicscheduling.gwu.edu/" target="_blank">Academic Scheduling</a>.</p>

<p>To make an equipment reservation:</p>

<ol>
	<li>
	<p>Log in to the <a href="https://academicscheduling.gwu.edu/virtualems/Login.aspx" target="_blank">scheduling system</a> with your GW NetID and password.</p>
	</li>
	<li>
	<p>Hover over Reservations in the menu and click VSTC Equipment Checkout.</p>
	</li>
	<li>
	<p>Select the date and time you need the equipment and click Get Services.</p>
	</li>
	<li>
	<p>Complete the form and click Submit.</p>
	</li>
	<li>
	<p>Pick up your reserved equipment from the Academic Technologies suite at:</p>
	</li>
</ol>

<p style="margin-left: 40px;">Innovation Hall</p>

<p style="margin-left: 40px;">45085 University Drive</p>

<p style="margin-left: 40px;">Suite 306</p>

<p style="margin-left: 40px;">Ashburn, VA 20170</p>

<p>Equipment should be requested at least 24 hours in advance.<br />
Please note that GW faculty and staff can access the system. Students and external groups must coordinate with their programs or GW sponsors to checkout equipment.</p>
    </div>
  </div>
  </div>
  
  </div>


<div class="panel-pane pane-block pane-quicktabs-equipment-guide-quicktabs" >
       <header class="major">

    <h2  class="pane-title">
            Equipment Guide    </h2>


    </header>
      <div  id="quickset-equipment_guide_quicktabs" class="quick-campaign-accordion"><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_0">Audience Response System (TurningPoint Clickers)</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="TurningPoint Clicker" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Turning%20Point%20ResponseCard.jpg" style="width: 83px; height: 135px;"></td><td>A system created by TurningPoint Technologies that allows students to reply to interactive questions during class using a hand-held keypad response unit. The system collects student responses in real time and allows instructors to easily create detailed reports for analysis.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_1">Document Camera</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Document Camera" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Document%20camera%20combined.jpg" style="width: 240px; height: 120px;"></td><td>A real-time image capture device for displaying a document or object through a projector or display monitor.&nbsp; The document camera allows a class to view note-taking or calculating while in progress.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_2">DVD Player (Region-Free)</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="DVD Player" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Region%20Free%20DVD%20Player-small.jpg" style="width: 251px; height: 89px;"></td><td>A DVD player that is not specific to any one region.&nbsp; This is necessary&nbsp;to play a DVD manufactured or purchased in a foreign country. The player can be connected to a projector or display monitor.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_3">HDMI Cable</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="HDMI Cable" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/HDMI%20cable-small.jpg" style="width: 187px;"></td><td>A High-Definition Multimedia Interface (HDMI) cable transfers video and audio from a HDMI-compliant device to a compatible computer monitor, video projector, or digital television. This cable is needed to view media in 1080p format, to use a Blu-Ray player, to access High Definition cable through a set-top box, or to use a DVD player that converts content.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_4">HDMI to VGA Adapter</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="HDMI Cable" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/hdmivgaadapter_sm.jpg" style="width: 220px;"></td><td>An adapter that connects devices with HDMI output ports to a projector display monitor through a VGA cable.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_5">iPad Adapter</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="iPad adapter" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/iPad%20Adapter%20--small.jpg" style="width: 222px;"></td><td>An adapter that connects an iPad to a projector display monitor through a VGA cable.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_6">Laptop Computer and Kit</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Laptop Kit" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/laptopkit_0.jpg" style="width: 221px;"></td><td>The laptop computer and&nbsp;kit includes the following items: a laptop carrying case, laptop computer, power cable, bluetooth mouse, and wireless presenter.</td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_7">LCD Projector and Kit</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="LCD Projector and Kit" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/LCD%20Projector.jpg" style="width: 220px;"></td><td><p>The LCD projector and kit includes the following items: carrying case, LCD projector, VGA cable, power cable, HDMI cable, Mini-display to HDMI video adapter, HDMI to DVI video adapter, LCD projector remote control, and extension cord.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_8">Mac Adapter</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="MAC adapter" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Mac%20Adapter%20-%20small.jpg" style="width: 220px;"></td><td><p>An adapter that connects a MacBook computer to a projector display monitor through a VGA cable.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_9">Microphone with Stand</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Microphone with Stand" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Shure%20Beta58A_0.jpg" style="width: 80px;"></td><td><p>A sound amplification system typically used in large lecture halls to amplify speech. There are many types of microphones including wired, wireless handheld, and wireless lavaliere (clip-on) microphones.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_10">Portable Speaker System</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Portable Speaker System" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Portable%20Speaker%20USB%20small.jpg" style="width: 161px;"></td><td><p>A speaker system used to project audio from a computer, laptop, iPad or iPod, or other similar module.&nbsp;Two differently powered speaker systems are available: USB (powered by a computer) or AC (powered through an electrical wall outlet).</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_11">Tripod</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Tripod" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Tripod-small_0.jpg" style="width: 100px;"></td><td><p>A three-legged stand that holds a video camera or a regular handheld camera during use. Using a tripod provides greater stability during camera operation.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_12">VGA (Video Graphics Array) Cable</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="VGA (Video Graphics Array) Cable" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/VGA%20Cable.jpg" style="width: 220px;"></td><td><p>A 15-pin cable used to connect a personal computer&nbsp; (non Mac) to a projector or display monitor. This allows instructors to display images, presentations, and other content on a larger screen for student viewing.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_13">Video Camera</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Video Camera" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Video%20Camera-small.jpg" style="width: 194px;"></td><td><p>A small handheld camera used to record videos or to take still photos that can be played back or displayed on a projector or display monitor.&nbsp; The camera can also be mounted on a tripod for stability during recording sessions.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_14">Wireless Mouse</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Wireless Mouse" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Wireless%20Mouse-small.jpg" style="width: 140px;"></td><td><p>A cordless hand-operated electronic device that controls the cursor on a computer and is powered by Bluetooth technology.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top clearfix"><a href= "#quickset-equipment_guide_quicktabs_15">Wireless Presenter</a></h3><div>

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <table cellspacing="1" cellpadding="1" border="0"><tbody><tr><td style="width: 30%; text-align: center;"><img alt="Wireless Presenter" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/InstructionalTechnology/EquipmentGuide/Wireless%20Presenter--small_0.jpg" style="width: 167px;"></td><td><p>A device used during presentations to advance slides. The wireless presenter also contains a red laser pointer used to point out details on presentation slides.</p></td></tr></tbody></table><p>&nbsp;</p>    </div>
  </div>
  </div>
</div></div>  
  </div>


<div class="panel-pane pane-node" >
       <header class="major">

    <h2  class="pane-title">
            Questions?    </h2>


    </header>
      

<div class="general-content-no-sidebars">
  <div class="general-content-grid-no-image">
    <div id="general-content-primary">
                  <style type="text/css">
table { 
  width: 100%; 
  border-collapse: collapse; 
}
th {
    text-align: left;
	vertical-align: center;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
th {
    text-align: center;}
	
}</style>
</small>
<p>AT's Solutions Center is the primary point of contact for faculty and staff who are seeking help with AT-supported classrooms and services.</p><br><div class="promotional-four-col"><div class="promo-items-item" id="promo-item-1"><div style="text-align: center;"><a href="mailto:acadtech@gwu.edu?subject=Website%20inquiry" target="_self"><img alt="Email" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/Assistance/email.png" style="width: 170px; height: 170px;" title="" typeof="foaf:Image"></a></div><h4 class="promo-title" style="text-align: center;"><a href="mailto:acadtech@gwu.edu?subject=Website%20inquiry" target="_self">EMAIL</a></h4><p style="text-align: center;"><a href="mailto:acadtech@gwu.edu?subject=Website%20inquiry"><span class="promo-body">acadtech@gwu.edu</span></a></p></div><div class="promo-items-item" id="promo-item-2"><div style="text-align: center;"><a href="tel:2029947900"><img alt="Phone" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/Assistance/phone.png" style="width: 170px; height: 170px;" title="" typeof="foaf:Image"></a></div><h4 class="promo-title" style="text-align: center;"><a href="tel:2029947900">PHONE</a></h4><p style="text-align: center;"><span class="promo-body">202-994-7900</span></p></div><div class="promo-items-item" id="promo-item-3"><div style="text-align: center;"><a href="tel:2029944747"><img alt="Fax" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/Assistance/fax.png" style="width: 170px; height: 170px;" title="" typeof="foaf:Image"></a></div><h4 class="promo-title" style="text-align: center;"><a href="tel:2029944747">FAX</a></h4><p style="text-align: center;"><span class="promo-body">202-994-4747</span></p></div><div class="promo-items-item" id="promo-item-4"><div style="text-align: center;"><a href="http://maps.google.com/?q=1922 F St NW, Washington, District of Columbia, 20052" target="_blank"><img alt="Address" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/Assistance/address.png" style="width: 169px; height: 170px;" title="" typeof="foaf:Image"></a></div><h4 class="promo-title" style="text-align: center;"><a href="http://maps.google.com/?q=1922 F St NW, Washington, District of Columbia, 20052" target="_blank">ADDRESS</a></h4><div style="text-align: center;"><span class="promo-body">Old Main Building</span></div><div style="text-align: center;"><span class="promo-body">1922 F Street NW</span></div><div style="text-align: center;"><span class="promo-body">Suite 314</span></div></div></div><div style="overflow-x:auto;"><table style="width: 100%;" cellspacing="1" cellpadding="1" border="0"><tbody><tr><th><p style="text-align: right;"><img alt="" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/Assistance/hours4.png" style="float: left; padding-left: 50px;"></p></th><th><h4 class="promo-title">HOURS</h4><div>Monday - Friday, 8:00 a.m. - 8:00 p.m.</div></th></tr></tbody></table></div><p>&nbsp;</p>    </div>
  </div>
  </div>
  
  </div>
</div>

<div class="panel-pane pane-views-panes pane-local-footer-gwtoday-footer-panel-pane" >
        <div class="view view-local-footer view-id-local_footer view-display-id-gwtoday_footer_panel_pane view-dom-id-f604f24a239e26f80c93007287ffd99e">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div id="gwtoday-local-footer">
 <div id="gwtoday-footer">
 	 <div class="promotional-four-col">
     <div class="footer-logo" id ="promo-item-1">
       <div class="field field-name-field-gwtoday-logo field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><img alt="GW Academic Technologies" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/AT-Logo-2c-RGB.svg" style="width: 266px; height: 51px;" /></p>

<p>A division of <a href="https://lai.gwu.edu" target="_blank">Libraries and Academic Innovation</a></p>
</div></div></div>     </div>
     <div class="footer-address" id ="promo-item-2">
       <div class="field field-name-field-gwtoday-address field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>Old Main<br />
1922 F Street, NW<br />
Suite 311<br />
Washington, DC 20052</p>
</div></div></div>     </div>
     <div class="footer-social-links" id ="promo-item-3">
       <div class="field field-name-field-gwtoday-social-links field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>Phone: 202-994-7900<br />
Fax: 202-994-0028</p>

<p><a href="mailto:acadtech@gwu.edu">acadtech@gwu.edu</a></p>
</div></div></div>     </div>
     <div class="footer-quick-links" id ="promo-item-4">
       <div class="field field-name-field-gwtoday-quick-links field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><a href="https://www.twitter.com/GWAcadTech" target="_blank"><img alt="Twitter bird logo" src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/image/Twitter.png" style="width: 33px; height: 26px;" />&nbsp;Follow us on Twitter</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</div></div></div>     </div>
   </div>
 </div>
</div>
  </div>
    </div>
  
  
  
  
  
  
</div>  
  </div>
</div>
        </div>
    </div>
</div>

  <footer id="footer" class="region region-footer">
   
<div id="footer-wrapper">
    <div class="footer-logof">
        <a rel="home" href="http://www.gwu.edu/" target="_blank">
        <img typeof="foaf:Image" src="https://acadtech.gwu.edu/sites/all/themes/gwu_marketing/images/logos/gw_txh_2cs_rev.png" alt="GW logo" height="42" width="300">
        </a>
    </div>
    <div class="row-one">
        <ul>
            <li>
                <a href="http://www.campusadvisories.gwu.edu" target="_blank">Campus Advisories</a>
            </li>
            <li>
                <a href="http://my.gwu.edu/files/policies/EqualEmploymentOpportunityStatement.pdf" target="_blank">Non-Discrimination Policy</a>
            </li>
            <li>
                <a href="http://www.gwu.edu/privacy-policy" target="_blank">Privacy Policy</a>
            </li>

        </ul>
    </div>
    <div class="row-two">
        <ul>
            <li>
                <a href="http://www.gwu.edu/contact-gw" target="_blank">Contact GW</a>
            </li>
            <li>
                <a href="http://www.gwu.edu/terms-use" target="_blank">Terms of Use</a>
            </li>
            <li>
                <a href="http://www.gwu.edu/copyright" target="_blank">Copyright</a>
            </li>
            <li>
                <a href="http://www.gwu.edu/az-index" target="_blank">A-Z Index</a>
            </li>
        </ul>
    </div>
</div>  </footer>
  <script src="https://acadtech.gwu.edu/sites/acadtech.gwu.edu/files/js/js_5idECjjAo-X5YdkT65CaIiodkWmZlZv-WjSkHlWhoYk.js"></script>
</body>
</html>
