<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <li class="navbar-brand">Academic Technologies Forms</li>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', home_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="events" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Event Form
        </a>
        <div class="dropdown-menu" aria-labelledby="events">
          <%= link_to 'View Form', root_path, class: 'dropdown-item' %>
          <%= link_to 'See Responses', events_path, class: 'dropdown-item' %>
          <%= link_to 'Manage Form', manage_event_form_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>